@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
} 

body {
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0; 
}


nav h1, footer h1 {
    font-family: 'Coiny', cursive;
}

nav h1 {
    margin-right: auto;
}

nav a, footer a {
    margin-left: 20px;
    color: #7A7A7A;
    text-decoration: none;    
}

nav a:hover {
    text-decoration: underline;
}

nav {
       padding: 20px;
}

p { border: none;}

nav a {
    text-transform: capitalize;
}

header h1 {
    font-weight: 700;
    font-size: 41px;
    text-align: center;
}

h1,h2,h3,h4, .item{
    color:black ;
}

h2,h3 {
    font-size: 26px;
    background-color: #FCEE21;
}

h3 {
    font-size: 20px;
    background-color: #FCEE21;
    display: inline;
}

h2 {
    font-weight: none;
}

header img {
    width: 50%;
    margin-left: 30%;  
}


footer, main, header {
    width: 100%;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #FCEE21;
}

h4 {
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;  
    display: inline;
}

footer h1 {
    font-size: 33px;
}

main {
    font-size: 21px;
}

aside img{
    width: 60px;

}

.grande{
    font-size: 100px;
    font-family: 'coiny', cursive;
}

.item {
    font-size: 24px;
    font-weight: bold;
    background-color: #FCEE21;
    width: 40%;
}

.encolumnar{
    padding-left: 20px;
    margin-bottom: 30px;
}

ol li {
    margin-bottom: 3%;
}
header.encolumnar, aside.encolumnar{
    border-bottom: none;
}

#imagen{
    width: 50%;
    display: block;
    margin: auto;
}
span{
    color: red;
}

label{
    display: block;
}
input, textarea{
    width: 40%;
    background-color: rgb(230, 240, 245);
    border: none;
    
}

.boton{
    color: white;
    background-color: black;
    border: none;
    height: 30px;
    border-radius: 5%;
    width: auto;
}